.category {
    padding-top: 80px;
    &-settings {
        display: flex;
        justify-content: end;
        margin-bottom: 20px;
    }
    &-header {
        text-align: center;
        font-size: xx-large;
        font-weight: 700;
    }
}