.photos-grid {
    padding: 40px 20px;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    // &-row {
    //     display: grid;
    //     width: 100%;
    //     grid-template-columns: repeat(auto-fill, 460px);
    //     grid-auto-rows: 10px;
    // }
    .infinite-scroll-component__outerdiv {
        width: 100%;
    }
    .infinite-scroll-component {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, 460px);
        grid-auto-rows: 10px;
    }
}