.search-bar {
    width: 100%;
    min-height: 40px;
    display: flex;
    border: 1px solid #7f7f7f;
    border-radius: 5px;
    flex-grow: 1;
    align-items: center;
    background-color: #fff;

    &__input {
        flex-grow: 1;
        border: none;
        color: #7f7f7f;
        font-weight: 700;
        padding: 0 10px;
    }

    &__btn {
        width: 40px;
        color: #7f7f7f;
        border: none;
        cursor: pointer;
        background: transparent;
    }
    
    &__btn:hover {
        color: #05a081;
    }
}